<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span><i class="fas fa-leaf"></i></span><span>Menu</span></h2>
    </div>
    <hr>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a [routerLink]="['/home']"><span><i class="fas fa-home"></i></span><span>Home</span></a>
            </li>
            <li>
                <a [routerLink]="['/explore']"><span><i class="fas fa-globe"></i></span><span>Explore</span></a>
            </li>
            <li>
                <a [routerLink]="['/events']"><span><i class="far fa-calendar-alt"></i></span><span>Events</span></a>
            </li>
            <li>
                <a [routerLink]="['/eventList']" class="active"><span><i class="far fa-calendar-check"></i></span><span>Event list</span></a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span><i class="fas fa-bars hamburger"></i></span>
            </label>
            NVSite
        </h2>
        <div class="search-wrapper">
            <span><i class="fas fa-search"></i></span>
            <input type="search" placeholder="Search here">
        </div>
        <div class="user-wrapper">
            <img src="../../../assets/images/logotipo-60.jpg" width="50px" height="50px">
            <div>
                <h4>John Doe</h4>
                <small>Super Admin</small>
            </div>
        </div>
    </header>
    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>54</h1>
                    <span>Customers</span>
                </div>
                <div>
                    <span><i class="fab fa-accusoft"></i></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>79</h1>
                    <span>Projects</span>
                </div>
                <div>
                    <span><i class="fab fa-accusoft"></i></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>124</h1>
                    <span>Orders</span>
                </div>
                <div>
                    <span><i class="fab fa-accusoft"></i></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>6k</h1>
                    <span>Income</span>
                </div>
                <div>
                    <span><i class="fab fa-accusoft"></i></span>
                </div>
            </div>
        </div>
    </main>
</div>





