<section class="fondo-login-register-circle1">
  <div class="fondo-login-register-circle2"></div>
</section>
<section>
  <div >
    <img class="logo" src="assets/img/logo-planeta-nvs.png" alt="" width="600">
  </div>
  <div>
    <div>
      <i class="fas fa-user icon-user"></i>
      <input type="text" class="input-email" placeholder="Correo Electronico">
    </div>
    <div>
      <i class="fas fa-lock icon-password"></i>
      <input type="password" class="input-password" placeholder="Contraseña">
    </div>
  </div>
  <div class="register-account">
    <a [routerLink]="['/register']">¿No tienes cuenta? registrate aqui</a>
  </div>
  <button class="button-login">
    <h1>Iniciar sesion</h1>
  </button>
  <div class="fondo-login-register-circle3">
    <div class="fondo-login-register-circle4"></div>
  </div>
</section>

