<div class="sidebar">
    <div class="sidebar-brand">
        <h1><i class="fab fa-accusoft"></i>Accusoft</h1>
    </div>
</div>
<div class="sidebar-menu">
    <ul>
        <li>
            <a href="">Dashboard</a>
        </li>
        <li>
            <a href="">Customers</a>
        </li>
        <li>
            <a href="">Projects</a>
        </li>
        <li>
            <a href="">Orders</a>
        </li>
        <li>
            <a href="">Inventory</a>
        </li>
        <li>
            <a href="">Accounts</a>
        </li>
        <li>
            <a href="">Tasks</a>
        </li>
    </ul>
</div>
<div class="main-content">
    <header>
        <h1>
            <label for="">
<span><i class="fab fa-accusoft"></i></span>
            </label>
            Dashboard
        </h1>
        <div class="search-wrapper">
            <span><i class="fab fa-accusoft"></i></span>
            <input type="search" placeholder="Search here">
        </div>
        <div class="user-wrapper">
            <img src="../../../assets/images/logotipo-60.jpg" width="30px" height="30px">
            <div>
                <h4>John Doe</h4>
                small
            </div>
        </div>
    </header>
</div>