<section>
  <div class="container">
    <div class="row justify-content-center align-items-center mb-4">
      <div class="col-md-4 col-md-offset-3">
        <form lg-2>
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="form5Example1" class="form-control" />
            <label class="form-label" for="form5Example1"
              ><i class="fas fa-user fa-fw fa-lg"></i>&nbsp;Full Name</label
            >
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="" id="form1Example1" class="form-control" />
            <label class="form-label" for="form1Example1"
              ><i class="fas fa-envelope-open fa-fw fa-lg"></i> &nbsp;Email
              address</label
            >
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example2" class="form-control" />
            <label class="form-label" for="form1Example2"
              ><i class="fas fa-lock fa-fw fa-lg"></i>&nbsp;New Password</label
            >
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example2" class="form-control" />
            <label class="form-label" for="form1Example2"
              ><i class="fas fa-unlock fa-fw fa-lg"></i>&nbsp;Confirm
              Password</label
            >
          </div>

          <!-- Submit button -->
          <button
            type="submit"
            class="btn btn-primary btn-block btn-rounded login-button"
          >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
